#redes.d-none.d-md-block
    if html
        img.img-fluid(src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    else
        img.img-fluid(src="")
nav#nav.position-fixed.w-100.navbar.navbar-expand-lg.navbar-dark
    if html
        img.rounded-circle.d-block.d-lg-none(width='30px' src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    else
        img.rounded-circle.d-block.d-lg-none(width='30px' src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    a.navbar-brand(href='#') Neetoons Blog 
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.pt-3
                i.material-icons.text-white.float-right search
            li.nav-item.active
                a.nav-link.float-right(href='#')
                    | Inicio 
                    span.sr-only (current)
            li.nav-item.active
                a.nav-link.float-right(href='#') Programación 
            li.nav-item.active
                a.nav-link.float-right(href='#') Desarrollo Web
            li.nav-item.active
                a.nav-link.float-right(href='#') Diseño Gráfico
