// #load_screen
    #loading
        | loading

b:if(cond="data:view.isHomepage")
    .container-fluid.container-lg.mt-3.mb-1
        include title.pug
        //HIGHTLIGHTS POSTS

        #hightlights
            include hightlights.pug
    //RECIENTES
    main#recientes.container-fluid.container-lg.mt-4
        .text-nowrap
            h3.font-italic.pb-1.text-light.underline
                |Articulos Recientes
        .row#articulos
            //LOOP
            - for (let i = 0; i < 3; i++) {
                include recientes.pug
            - }
//MAIN SECTION

.container-fluid.container-lg
    b:if(cond="data:view.isPost")
        include isPost.pug
        b:else/
        b:section#posts(preferred="yes" growth="horizontal" maxwidgets="" showaddelement="yes")
            include blog.pug