if !html 
    .row
        .col-12.col-lg-8.p-0.pr-lg-0
            article
                a(href="")
                    figure.position-relative.photo-1.highlight
                        img.img-fluid.responsive-img(src="")
                        .info.h5
        .col-12.col-lg-4.p-0.pl-lg-0.pb-0.mb-0
            article
                a(href="")
                    figure.position-relative.photo-2.highlight
                        img.img-fluid.responsive-img(src="")
                        a.info.h5
            article
                a(href="")
                    figure.position-relative.photo-3.highlight
                        img.img-fluid.responsive-img(src="")
                        a.info.h5 Lorem Ipsum 
else 
    .row
        .col-12.col-lg-8.p-0.pr-lg-0
            article
                a(href="#")
                    figure.position-relative.photo-1
                        img.img-fluid.responsive-img(src='images/template.png')
                        a.info.h5 Lorem Ipsum
        .col-12.col-lg-4.p-0.pl-lg-0.pb-0.mb-0
            article
                a(href="#")
                    figure.position-relative.photo-2
                        img.img-fluid.responsive-img(src='images/template.png')
                        a.info.h5 Lorem Ipsum
            article
                a(href="#")
                    figure.position-relative.photo-3
                        img.img-fluid.responsive-img(src='images/template.png')
                        a.info.h5(href='') Lorem Ipsum 
                        