.row.publicaciones
    //header del post
    .col-12.p-0.md-auto
        h4.titulo.h1.text-center.mb-3.mx-1.m-lg-0.pb-2.text-purple
        a.text-center.my-2.figure-caption.text-purple()
            figure
                a(href="")
                    if html 
                        img.mb-4.img-fluid.article-img(src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
                    else
                        img.mb-4.img-fluid.article-img(src="")
    .col-8.col-lg-8.px-0
        b:section#postss(class="container" preferred="yes" growth="horizontal" maxwidgets="" showaddelement="yes")
            b:widget#Blog12.text-white(locked="no" title="Entradas" type="Blog" version="1")/
    aside#rightbar.container-fluid.col-12.col-lg-3.p-0.offset-0.offset-lg-1
        include rightbar.pug

    b:if(cond="data:view.isPost")
        .col-12.p-0.md-auto
            a(expr:href='data:i.url')
                h4.h1.text-center.mb-3.mx-1.m-lg-0.text-purple
                    | <data:i.title />
                //a.text-center.my-2.figure-caption(expr:href='data:i.url')
                //    | <data:i.timestamp/> - <data:i.numComments/> - comentarios
                //figure
                //    a(expr:href='data:i.url')
                //        if html
                //            img.mb-4.img-fluid.article-img(src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=600")
                //        else
                //            img.mb-4.img-fluid.article-img(src="")
        .col-12.col-lg-8.px-0.text-light 
            | <data:i.body/>