article.col-12.col-lg-4.p-0.p-lg-2.mb-3.mb-md-auto
    figure.figure-img
        a(href='')
        if html
            img.responsive-img.recientes.my-2.img-fluid(src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
        else
            img.responsive-img.recientes.my-2.img-fluid(src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
        // POST TITLE
        h4.p-1.p-md-0.h4.m-0.col-12.col-4.text-purple
            a.link.font-weight(href='') Como subir una gm al host  
        // DATE
        a.sub-link.mx-0.mb-0.mt-2.p-1.p-md-0(href='') 2021

        //img.img-fluid.mb-1(src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt='...')
        //a.info(href='#') Lorem ipsum, dolor sit amet consectetur adipisicing elit.