.caja {
    position: absolute;
    width: 100%;
    background-image: url("images/back.png");
    background-size: 100% 100%;
    z-index: -1;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: space-between;
    border: red 4xp solid;
    padding:0;
}
.caja img {
    background-repeat: no-repeat;
    flex: 1;
    max-width: 40%;

}


@media (max-width: 1200px) {

}
@media (max-width: 1000px) {


}
@media (min-width: 587px) {

}
@media (max-width: 587px) {

}
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */

