/**
-----------------------------------------------
Name:   Neetoons Blog 
Designer: Neet
-----------------------------------------------
**/
:root {
    --purple: #8c87f7; 
    --purple-muted: #7e7abe;
    --background-color: rgb(93, 0, 155);
    --green: #a2ec39;
}




html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}


body {
    font-size: rem;
    background: rgb(40, 0, 51);
    background: linear-gradient(
        180deg,
        rgba(40, 0, 51, 1) 0%,
        rgba(15, 0, 19, 1) 75%
    );
}
a {
    list-style: none;
    text-decoration: none;
}
main {
    z-index: 5;
}


div#load_screen {
    background: #fff;
    opacity: 1;
    position: fixed;
    z-index: 4;
    top: 0px;
    width: 100%;
    height: 1600px;
}
div#load_screen > div#loading {
    color: #000;
    font-size: 1rem;
    width: 120px;
    height: 24px;
    margin: 300px auto;
}
.lmao {
    background: linear-gradient(
        180deg,
        var(--background-color) 0%,
        rgba(0, 0, 0, 0) 75%
    );
}
.underline {
    padding-bottom: 2rem;
    display: inline;
    border-bottom: 2px #630077 solid; 
    max-width: 100%;
}

.title {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.header-title {
    align-items: center;
    position: relative;
}
.header-title h1 {
    height: auto;
    font-size: 4rem;
    font-family: "Archivo Black";
    padding: 0;
    text-shadow: 5px 5px 15px black;
}
.header-title h2 {
    text-shadow: 15px 15px 15px black;
}
.box-title {
    margin: auto 0 auto 0;
    padding: 35% 0 0 0;
}

.header-title h2 {
    font-size: 2rem;
}

.yellow-border {
    border-bottom: 1px;
    border-color: var(--purple);
}
html {
    scroll-behavior: smooth;
}
.header .navbar {
    background-color: transparent !important;
}
#navbar-iframe {
    height: 0px;

    visibility: hidden;

    display: none;
}
ul,
ol {
    list-style: none;
}
*::selection {
    background: var(--purple);
}
main p {
    font-size: 1.125rem;
}
main span {
    font-size: 1.125rem;
}





/* i:hover,
i:active, {

} */

#buscador {
    background: rgba(0, 0, 0, 0%);
    border: none;
    color: white;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
}
#buscador::placeholder {
    color: white;
}
#buscador:focus {
    outline-style: none;
}
/* HIGHTLIGHTS INFO  */

.info {
    display: flex;
    align-items: center;
    bottom: 0;
    z-index: 3;
    height: 30%;
    width: 100%;
    padding: 15px;
    margin: auto;
    color: white;
    font-weight: 100;
    position: absolute;
    background: linear-gradient(to bottom, transparent, black);
    cursor: pointer;
}
.info:hover {
    color: var(--green);
}





.article-img {
    height: 300px;
    width: 100%;
}
.bg-alpha {
    background: rgba(0, 0, 0, 50%);
}

#about {
    border-bottom: 1px var(--purple) solid;
}
/* LEFT SIDEBAR  */
#leftbar {
    /*    border: 1px #3c3a70 solid; */
    position: absolute;
}
#leftbar ul li {
    text-align: center;
}
#leftbar i {
    cursor: pointer;
}
#leftbar p {
    line-height: 15px;
    font-weight: 100;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: center;
    color: #a8a3ff;
}

.stick-banner {
    height: 187px;
    z-index: -1;
}
.logo {
    text-shadow: 40px;
    font-weight: 100;
}

.bg-purple {
    background: #0a0b25;
}
.bg-morado {
    background: #07070c;
}
.bg-purple-light {
    background-color: #2d2b55;
}
.bg-negro {
    background-color: #07070c;
}
.bg-blanco {
    background: white
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 25%);
}
.date-header {
    display: none;
}


.link {
    color: var(--purple); 
}
.sub-link {
    color: var(--purple-muted); 
}
.link:focus,
.link:hover,
.link:active,
.link:focus-within,
.sub-link:focus,
.sub-link:hover,
.sub-link:active,
.sub-link:focus-within {
    color: var(--green);
}



.text-purple-muted:hover {
    color: var(--purple-muted)
}
.text-purple-2 {
    color: #fff;
}
nav a,
nav i {
    color: white;
}
nav {
    z-index: 10;
    border-bottom: var(--purple);
}

footer {
    text-decoration: none;
    background: black;
    z-index: -10;
}
footer p {
    font-size: 1rem;
    font-weight: 100;
}
hr {
    background: var(--purple);
}
.bg-blanco {
    background: #f7f8f9;
}
figure {
    padding: 0px;
    margin: 0px;
}
figure:hover {
    cursor: pointer;
}
figure:hover a {
    color: var(--green);
}
.borderline {
    border: 1px #3c3a70 solid;
}
.radius img {
    border-radius: 3px 3px 3px 3px;
}

#redes {
    position: absolute;
    bottom: 5px;
    width: 250px;
}
main,
#nav {
    z-index: 100;
}
.circular-right {
    border-radius: 0px 15px 0px 0px;
}
#recientes  {
    font-size:16px;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 320px) {
    .header-title h1 {
        font-size: 2rem;
    }
    .header-title h2 {
        font-size: 1rem;
    }
    #recientes h3 {
        font-size:2rem;
    }
    .photo-1,
    .photo-2,
    .photo-3,
    .photo-4,
    .photo-5 {
        height: auto;
        margin: 0px 0px 10px 0px;
    }
    .responsive-img {
        height: auto;
        width: 100%;
    }
    .responsive-img-recientes {
        width: 100%;
    }
    #back {
        background-size: 100% auto;
        background-position: 50% 0px;
    }

}
@media (max-width: 988px) {
    .box-title {
        padding: 25% 0 0 0;
    }
    .underline {
        text-align: center;
        display: block;
    }
    .thumbnail {
        display: flex;
        align-items: center;
        bottom: 0;
        height: 30%;
        width: 100%;
        padding: 15px;
        margin: auto;
        color: white;
        font-weight: 100;
        position: absolute;
        background: linear-gradient(to bottom, transparent, black);
        cursor: pointer;
    }
}

@media (min-width: 666px) and (max-width: 997px) {
    .responsive-img {
        width: 100%;
    }

}
@media (min-width: 320px) and (max-width: 767px) {
    .header-title h1 {
        font-size: 2.5rem;
    }

    .header-title h2 {
        font-size: 1rem;
    }

}
@media (min-width: 576px) {
    #back {
        background-size: 100% auto;
        background-position: 0px -100px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    aside p {
        font-size:2rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .responsive-img-recientes {
        height: 200px;
    }
    .article-img {
        height: 600px;
    }
    .photo-1 {
        margin: 0px 4px 0px 0px;
        height: 504px;
    }

    .photo-2,
    .photo-3,
    .photo-4,
    .photo-5 {
        height: 250px;
    }
    /* borders */
    .photo-2 {
        /**change to 0px 4px 4px 0px for adding 2 articles to right more**/
        margin: 0px 0px 4px 0px;
    }
    /**.photo-3 {
    margin: 0px 4px 0px 0px;
 }
 **/
    .photo-4 {
        margin: 0px 4px 4px 0px;
    }
    .photo-5 {
        margin: 0px 4px 0px 0px;
    }

    .responsive-img {
        height: 100%;
        width: 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

.post img {
    width: 95%;
    height: auto;
}
.post .icon-action {
    width: 20px !important;
}
*::-webkit-scrollbar-track {
    background-color: BLACK;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #630077;
}

.thumbnail {
    color: var(--purple);
}